h2 Save the date!
h4 Important reminders

.row
  each val, index in reminders
    .col-sm-3.blue
      h3= val.what
      h4= val.when
      if val.notes
        p= val.notes


button.btn.btn-default(type="button", data-toggle="modal", data-target="#reminderModal") Create Reminder

#reminderModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="reminderLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close") <span aria-hidden="true">&times;</span>
        h4#reminderLabel.modal-title What would you like to save?
      .modal-body
        form#event-form(method="POST", action='/add-reminder?_method=PUT')
          .input-group
            label(for='what') What is happening?
            input(type='text', name='what', required)
          .input-group
            label(for='when') When is it?
            input(type='date', name='when', required)
          .input-group
            label(for='notes') Any Notes?
            textarea(name="notes" form="event-form")
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button#add-reminder.btn.btn-primary Save date
