.input-group
  label(for='street') Street Address
  input(type='text', name='street', required)
.input-group
  label(for='city') City
  input(type='text', name='city', required)
.input-group
  label(for='state') State
  input(type='text', name='state', required)
.input-group
  label(for='zip') Zipcode
  input(type='number', min='00000', max='99999' name='zip')
.input-group
  label Are you a US Citizen?
  label Yes
    input(type='radio' name='citizen', value='true', checked)
  label No
    input(type='radio' name='citizen', value='false')
