extends ../templates/basic.jade

block content
  h1 Things you can do to be politically active

  form(action="/action" method="post")
    div
      label(for="address") Where is your legal residence:
      input(type="text" name="address" autofocus placeholder="type your address here")

    input(type="submit" value="Look up my info")

  section.voter-info
    if actionInfo
      include ./includes/voter.jade
    else
      p type in the search field above to get your voter information

  section.election-info
    if actionInfo
      include ./includes/elections.jade
    else
      p type in the search field above to get your election information

  section.make-change
    p Under construction
