extends ../templates/basic.jade

block content
  h1 Things you can do to be politically active

  form(action="/action" method="post")
    div
      label(for="address") Where is your legal residence:
      input(type="text" name="address" placeholder="type your address here")

    input(type="submit" value="Look up my info")
    h4 Tired of typing in your address all the time? <a href="/register">Register</a> to automate this process!

  section#voter-info
    h3 Voter Info
    if actionInfo
      include ./includes/voter.jade
    else
      p.question Q. Am I eligible to vote?
      p A. The only consistant requirements are that you be over 18 years and a citizen. Though exceptions can be found on a state by state basis. Type in your address above to find out! Alternatively you can select your state at <a href="http://www.canivote.org/" target="_blank"> canivote.org</a>.
      p.question Q. I meet the requirements for my state, now can I vote?
      p A. In addition you'll need to register to vote in a particular locality, typically the district of your legal residence. To check where/if you are registered to vote you can type in your address above or select the appropriate state website from <a href="http://www.canivote.org/" target="_blank">canivote.org</a>.
      p.question Q. I'm not registered, how do I become registered?
      p A. The process can be done in person at a number of polling locations, armed services recruitement centers, the Department of Motor Vehicles (DMV), and often your local libraries. Alternativlely you can fill out this form and send it in: <a href="http://www.eac.gov/voter_resources/register_to_vote.aspx" target="_blank">National Mail Voter Registration Form</a>.
      p.question Q. I'm registered, now what?
      p A. Now you're ready to vote when there's an election in your area!

  section#election-info
    h3 Election Info
    if actionInfo
      include ./includes/elections.jade
    else
      p.question Q. What are the next elections?
      p.question Q. When will they take place?
      p A. You can either type in your address above or you can visit <a href="http://elections.mytimetovote.com/dates/default.html" target="_blank"> mytimetovote.com </a> for election and time info
      p.question Q. Where will I be able to vote?
      p A. Usually the town or city hall, certain libraries or schools, and occaisionally churches or other public buildings can be used. Type your address above to get started or select your state at this site: <a href="https://triggerthevote.org/find-polling-place/" target="_blank"> State selector</a>.
      p.question Q. Who can I vote for?
      p A. By typing in your address above and viewing the elections relevant to your particular state you can see the candidates and (if available) that candidates website. Or you can research the candidates by searching for them on <a href="http://votesmart.org/" target="_blank"> votesmart.org</a>

  section#make-change
    h3 Creating Change
    p.question Q. Aside from voting or talking to my policitians, how can I help in politics?
    p A. If there's a particular politician or issue that you support, consider donating your time or money. Volunteering and donating are both ways to support an issue or cause.
    p.question Q. How can I be more vocal about what I care about?
    p A. You can engage others in meaningful conversation. Assuming they are willing to listen you can talk to friends and family about the issues that matter to you, you can participate in online discussions, or you can go <a href="https://en.wikipedia.org/wiki/Canvassing" target="_blank">canvassing</a> door to door.
    p.question Q. How do I balance what I learn from various sources?
    p A. It is very important to listen to the views of others and weigh them against what you've learned. Do adequate research into the topics and also make sure that what you believe is supported by facts!
    p.question Q. I'm not the only one who wants a particular change, how to I unite us?
    p A. You can try starting a petition at sites like <a href="http://petitions.whitehouse.gov" target="_blank">petitions.whitehouse.gov</a> or <a href="https://www.change.org/start-a-petition" target="_blank">change.org</a>
    p.question Q. I've got lots of support, and care about this deeply! How to I make sure changes are made?
    p A. Assuming you are eligible, you can run a campaign of your own! Run for office, join the city council, start a committee, or create a volunteer group dedicated to you issue or cause.
    p.question Q. Anything else?
    p A. Don't forget to <a href="/register">register/sign up</a> here on this site!
