extends ../templates/basic.jade

block content
  h1 Find your representatives in the government

  section.row.blue
    form(action="/findrep" method="post")
      div
        label(for="address") Where is your legal residence:
        input(type="text" name="address" autofocus placeholder="type your address here")

      input(type="submit" value="Look up my info")
    h4 Tired of typing in your address all the time? <a href="/register">Register</a> to automate this process!

  if personsReps
    include ./includes/displayrep.jade
