extends ../templates/basic.jade

block content
  h1 Find who represents you in the government

  section
    form(action="/findrep" method="post")
      div
        label(for="address") Where is your legal residence:
        input(type="text" name="address" autofocus placeholder="type your address here")

      input(type="submit" value="Look up my info")
