extends ../templates/basic.jade

block content
  .jumbotron#index-banner
    section.row
      h1.col-xs-offset-2 From Denizen...
      h1.col-xs-offset-8 ...to Citizen!

    section.about
      p#tagline Become more informed and active in your government!

  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        section.please-login
          p Being an active citizen can be overwhelming at first!
          .row
            a(href="/register")
              button.btn.btn-mat.btn-success(type="button") Sign up
              button.btn.btn-mat.btn-primary(type="button") Log in
          p Sign in to go the the Informed Voter Track

        section#voter-track
          .row
            .col-xs-4.arrow
              h1 1
              p How Government Works
          .row
            .col-xs-4.col-xs-offset-4.arrow
              h1 2
              p Who represents me?
          .row
            .col-xs-4.col-xs-offset-8.arrow
              h1 3
              p Get Involved!

        section#info-finder
          h1 Who Represents YOU in the Government?!
          p Use your address to find the politicians in your area that represent you
          .row
            form(action="/findrep" method="post").col-xs-8.col-xs-offset-2
              .input-group
                input.form-control(type="text" name="address" placeholder="Enter Your Legal Residence Here...")
                span.input-group-btn
                  input.btn.btn-primary(type="submit" value="Look up my info")
    .row
      .col-xs-12
        section#why-involved.arrow
          h1 Why You Should Be Involved!

          .row
            .col-xs-4
              p To make democracy work, we must be a notion of participants, not simply observers. ~Louis L'Amour
            .col-xs-4.col-mid
              p Nobody will ever deprive the American people of the right to vote except the American people themselves and the only way they could do this is by not voting. ~Franklin D. Roosevelt
            .col-xs-4
              p Be the change you wish to see in the world. ~Mahatma Ghandi
