extends ../templates/basic.jade

block content
  section.row.top-banner
    //- img.denizen
    h1 From denizen...
    h1.pull-right ...to Citizen!
    //- img.citizen

  section.about
    p This is an information hub to help provide a person with the basics they need to be a politically productive person. Supplying information and resources useful for the politically savvy, those just learning the political process, and all in between.

  section.roadmap
    h3 Roadmap to success
    .row
      #aboutImg.col-sm-3.col-xs-4
        a(href="/info")
          i.fa.fa-pencil.fa-fw
      #aboutGov.col-sm-9.col-xs-8
        h4 Learn about your government
        p It best to have an understanding of how the government works prior to attempting to make participate or make changes to it. It's akin to swimming: most people have learned something of the general form, and you can jump in the water without learning, but you'll always be better off with a little instruction.
    .row.red
      #findRepImg.pull-right.col-sm-3.col-xs-4
        a(href="/findrep")
          img(src="images/find-rep.gif")
      #findReps.col-sm-9.col-xs-8
        h4 Find out who represents you!
        p People's first assumption is that voting is the primary way to influence policy in the political process. However, it is a much easier starting point to begin with opening a dialog with those already in power.
    .row.blue
      #voteStatus.col-xs-4
        img(src="images/profile.png")
        h4 Know your status
        p Q. Am I elligible to vote?
        p A. The only consistant requirements are that you be over 18 years and a citizen. Though exceptions can be found on a state by state basis, select your state at
          a(href="http://www.canivote.org/" target="_blank")  canivote.org
        p Q. I meet the requirements for my state, now can I vote?
        p A. In addition you'll need to register to vote in a particular locality, typically the district of your legal residence. To check where/if you are registered to vote you can select the appropriate state website from <a href="http://www.canivote.org/" target="_blank">canivote.org</a>.
        p Q. I'm registered, where do I vote?
          li If registered, where?
          li If not, how do I register?
      #voteDetails.col-xs-4
        img(src="images/vote.png")
        h4 Actually Voting
        ul
          li What are the next elections?
          li When will they take place?
          li Where will I be able to vote?
          li Who can I vote for?
      #more.col-xs-4
        img(src="images/podium.png")
        h4 How else can I be more active?
        ul
          li Donate your time or money to an issue or cause
          li Become more vocal in your community
          li Listen to the views of others and weigh them against what you've learned
          li Start a petition
          li Run a campaign of your own!
          li Or, you can register/sign up here on this site...
    #signup
      .rowdif
        h2.line Sign up
        img.line(src="images/Star.gif")
        h2.line Log In
      p By registering and signing in we hope to streamline the process and provide you with a reminder service for elections in your area and keep you in contact with those that matter to you!
      ul.row
        .col-xs-5.col-xs-offset-1
          li Election Emails
          li Voter Checklist
        .col-xs-5
          li Quickview of representatives
          li Communicate with others in this community


    h3 That's not all, it's best to understand how the pieces of the government fit together
    ul
      li What do each of those people listed above do?
      li How does the government work on a local level?
      li How does the government work on the state level?
      li How does the government work on the federal level?
      li What services does the government provide at various levels?

