extends ../templates/basic.jade

block content
  h1 From denizen to Citizen!

  section
    h3 Things you need to know about yourself to be a good citizen
    ul
      li
        a(href="http://www.canivote.org/" target="_blank") Am I registered to vote?
      li If so, where? If not, what do I need to do and where do I need to go?
      li Who is my Mayor? (What city am I in?)
      li Who are my City Council members? What district am I in?
      li Who is my Governer
      li Who are my Congressional District members? What district am I in?
      li Who are my state Senators?

    h3 That's not all, it's best to understand how the pieces of the government fit together
    ul
      li What do each of those people listed above do?
      li How does the government work on a local level?
      li How does the government work on the state level?
      li How does the government work on the federal level?
      li What services does the government provide at various levels?

    h3 If you're fine with that, the final steps are to become active
    ul
      li Where do I vote?
      li When can I vote?
      li Who can I vote for?
      li What can I do to enact changes in policy?
