extends ../templates/basic.jade

block content
  h1 Register for a new account
  h3 Thank you for choosing to take the first step to becoming politically active

  if message
    h2= message

  .row
    form(method='POST', action='/login').col-md-4.col-md-offset-1
      fieldset
        legend Existing User
        .input-group
          label(for='email') Email
          input#email(type='email', name='email', placeholder='email@email.com', required)
        .input-group
          label(for='password') Password
          input#password(type='password' name='password', placeholder='password goes here', required)
        .input-group
          input(type='submit', value='Log in!')

    form(method='POST', action='/register').col-md-6.col-md-offset-1
      fieldset
        legend New User
        .input-group
          label(for='email') Email
          input(type='email', name='email', placeholder='email@email.com', required, value=email)
        .input-group
          label(for='pass') Password
          input#pass(type='password' name='password', placeholder='password goes here', required)
        .input-group
          label(for='f-name') First Name
          input(type='text', name='fName', required)
        .input-group
          label(for='l-name') Last Name
          input(type='text', name='lName', required)
        .input-group
          label(for='byear') Date of Birth
          select(name='bmonth')
            option(value='0' selected) January
            option(value='1') February
            option(value='2') March
            option(value='3') April
            option(value='4') May
            option(value='5') June
            option(value='6') July
            option(value='7') August
            option(value='8') September
            option(value='9') October
            option(value='10') November
            option(value='11') December
          input(type='number', min='1', max='31', name='bday')
          input(type='number', min='1900', max='2100', name='byear' required)
        fieldset
          legend Legal Residence
          include ./includes/user-address-form.jade

      .input-group
        input(type='submit', value='Sign up')
