extends ../templates/basic.jade

block content
  section#register-banner
    .row
      .col-xs-12
        h1 Register or Log In
      .col-xs-10.col-xs-offset-1
        h3 Thank you for choosing to take the first step to becoming politically active
      if message
        .col-xs-8.col-xs-offset-2
          h2= message

    .row
      form(method='POST', action='/login').col-md-4.col-md-offset-1
        h2 Existing User
        .form-group
          input.form-control#email(type='email', name='email', placeholder='Email', required)
        .form-group
          input.form-control#password(type='password' name='password', placeholder='Password', required)
        .form-group
          input.btn.btn-primary.btn-login(type='submit', value='Log in!')


      form(method='POST', action='/register').col-md-4.col-md-offset-1
        h2 New User
        .form-group
          input.form-control(type='email', name='email', placeholder='Email', required)
        .form-group
          input.form-control(type='password' name='password', placeholder='Password', required)
        .form-group
          .row
            .col-xs-6
              input.form-control(type='text', name='fName', placeholder='First Name', required)
            .col-xs-6
              input.form-control(type='text', name='lName', placeholder='Last Name', required)
        .form-group
          .row
            .col-xs-4
              select.form-control(name='bmonth')
                option(value='0' selected) January
                option(value='1') February
                option(value='2') March
                option(value='3') April
                option(value='4') May
                option(value='5') June
                option(value='6') July
                option(value='7') August
                option(value='8') September
                option(value='9') October
                option(value='10') November
                option(value='11') December
            .col-xs-4
              input.form-control(type='number', min='1', max='31', name='bday', placeholder='Day of Birth')
            .col-xs-4
              input.form-control(type='number', min='1900', max='2100', name='byear', placeholder='Year of Birth' required)
        .form-group
          .row
            .col-xs-12
              input.form-control(type='text', name='street', placeholder='Street Address' required)
        .form-group
          .row
            .col-xs-4
              input.form-control(type='text', name='city', placeholder='City', required)
            .col-xs-4
              input.form-control(type='text', name='state', placeholder='State', required)
            .col-xs-4
              input.form-control(type='number', name='zip', placeholder='Zipcode', min='00000', max='99999')
        .form-group
          select.form-control(name='citizen')
            option(value='true' selected) Yes, I am a US Citizen
            option(value='false') No, I am not a US Citizen
        .form-group
          input.btn.btn-success.btn-login(type='submit', value='Sign Up')





