nav#side-nav {
  position: fixed;
  background-color: red;
  right: 0;
  top: 0;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

.fa {
  font-size: 150px;
}
.roadmap img {
  width: 150px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/*Creating the signup banner*/
.line {
  display: inline;
}
.rowdif {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

section img {
  width: 150px;
}

/* responsive embedded youtube video trick*/
.video-frame {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
