.spacer {
 min-height: 30px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}
nav li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
