doctype html
html
  head
    block title
      title Constructive Citizens
      link(rel="stylesheet", href="/styles/main.css")
  body
    nav
      ul
        li <a href="/">Mission Roadmap</a>
        li <a href="/repfind">Find your Reps</a>
    block content

  footer
    block footer
      p Mathew Ostrander, 2016
