doctype html
html
  head
    block title
      title Constructive Citizens
      link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href="./bower_components/font-awesome/css/font-awesome.min.css")
      link(href='https://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')
      link(rel="stylesheet", href="/styles/main.css")
  body
    block navigation
      include ../views/includes/nav-default.jade

    .container-fluid
      .row
        .col-sm-10.col-sm-offset-1
          block content

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='scripts/main.js')
  footer.row
    block footer
      p Mathew Ostrander, 2016
